<% include partials/header.ejs %>
<h1><%= title %></h1>
<p><%= content%></p>
<form action="/posts/<%= post._id %>/delete" method="POST">
  <input type="submit" class="btn btn-danger" value="Delete" />
</form>

<% include partials/footer.ejs %>
